<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>todo</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
        <body>
            <h1>todo</h1>
            <div id="todoPage">
                <table id="todo_list">
                   <tr  v-for="todo in todoList" :key="todo.id">
                        <td>{{todo.schedule}}</td>
                        <td>{{todo.priority}}</td>
                        <td>{{todo.timeLimit}}</td>
                        <td>
                            <button v-on:click="remove" :value="todo.id">削除</button>
                        </td>
                    </tr>
                </table>

                <form id="schedule_data">
                    <div class="schedule">
                        <input type="text" name="schedule" v-model="todoList.schedule" placeholder="予定を入力してください">
                    </div>
                    <div class="radio">
                        <label>優先度
                            <input type="radio" name="priority" v-model="todoList.priority" value="高">高
                        </label>
                        <label>
                            <input type="radio" name="priority" v-model="todoList.priority" value="中">中
                        </label>
                        <label>
                            <input type="radio" name="priority" v-model="todoList.priority" value="低">低
                        </label>
                    </div>
                    <div class="time-limit">
                        <input type="text" name="time_limit" v-model="todoList.timeLimit" placeholder="期限を入力してください" >
                    </div>
                    <div>
                        <button type="button" id="register" v-on:click="register">登録</button>
                    </div>
                </form>
            </div>
            <script type="text/javascript" src="index.js"></script>
        </body>
</html>